.menu-title{
    text-align: center;
    margin-bottom: 1rem;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display:flex ;
    justify-content: center;
    align-items: center;
    margin: .3rem;
    width: 30rem;
    background-color: darkgray;
    border-radius: .2rem;
}
.image{
    width: 10rem;
    height: 10rem;
    border-top-left-radius: .2rem;
}
.info{
 margin-left: 1rem;
}
.category{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category-btn{
    margin: .5rem;
}